html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body
		include nav
		
		div(class="container-fluid")
			div(class="normalBGMarginrow row")
				div(class="col-sm-12")
					h3(class="h3titleFormMiddle") Leden 
		
					img(src="/images/leden/boomtop.png" id="boomtopImg")
					h1(id="quoteLeden") 


					<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

					<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/patricia-schutter-56381144" data-format="hover" data-related="false"></script>

					<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/patricia-borgers-8775a674/" data-format="hover" data-related="false"></script>

				div(class="row")
					each batch in result
						div(class="col-sm-6 memberFrame")
							h1(id= `${JSON.stringify(batch)}`) #{batch.dataValues.batch}
							div(class="row")
								each member in batch.members
									div(class="col-sm-2 memberColumn")
										img.profilePhoto(src="images/uploaded_db/"+member.pf_photo)
										h6(id= `${member}`) #{member.first_name} #{member.last_name}<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/patricia-schutter-56381144" data-format="hover" data-related="false"></script>
								




		
		include footer

	script.



