html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		link(rel="icon" href="/images/general/wapen-donkerblauw.png")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		script(src="//platform.linkedin.com/in.js" type="text/javascript")
	body
		include nav
		
		div(class="container-fluid backgroundLeden")
			div(class="normalBGMarginrow row")
				div(class="col-sm-12")
					h3(class="h3titleFormMiddle") Sconfi stamboom
					img(src="/images/leden/boomtop.png" id="boomtopImg")

					h1(id="quoteLeden") 

					each batch in result
						div(class="col-sm-6 memberFrame")
							h1(id= `${JSON.stringify(batch)}` "" class="titleMembertemplate") Lichting #{batch.dataValues.batch}
							div(class="row" id="membersInRow")
								each member in batch.members
									div(class="col-sm-3 memberColumn")
										img.profilePhoto(src="images/uploaded_db/"+member.pf_photo)
										if(member.linkedin)
											br
											h8(class="memberNames") #{member.first_name} #{member.last_name} 
											script(id="right" type="IN/MemberProfile" data-id=member.linkedin "" data-format="hover" data-related="false")
										else
											br
											h8(class="memberNames") #{member.first_name} #{member.last_name}
										

		include footer

	script.

